<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <p class="text-center">Wilkommen zum Schneider Handy-shop <br> Wir verkaufen und Reparieren ihr Telefon zu einem Fairen Preis</p>
    </div>
    <div class="col-md-12 bg-dark text-center">
      <img src="../../assets/images/HomeScreen_WelcomePicture.jpg" class="img-fluid">
      <div class=""></div>
    </div>


    <div class="col-md-4 bg-light HomeIcons">
      <p class="LabelText text-center">Aktion!
        <img src="../../assets/images/sale.png" class="img-fluid">
      </p>
    </div>
    <div class="col-md-4 bg-light HomeIcons">
      <p class="LabelText text-center">
        <a routerLink="/Shop" style='color:black'>Zum Shop!
          <img src="../../assets/images/shop.png" class="img-fluid">
        </a>
      </p>
    </div>
    <div class="col-md-4 bg-light HomeIcons">
      <p class="LabelText text-center">
        <a routerLink="/Warenkorb" style='color:black'>Ihr Warenkorb
         <img src="../../assets/images/shopping-cart.png" class="img-fluid">
        </a>
      </p>
    </div>
  </div>
</div>
