.LabelText {
  font-family: 'italic', serif;
  font-size: 200%;
  justify-content: center;
}

.HomeIcons {
  justify-content: center;
  max-width: 85%;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  width: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a{
  color:black;
  text-decoration: none;
}
